<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion de ressource humaine</title>
</head>
<body>
<h1>Notre première application Spring Boot</h1>
MENU
<p>
    <a th:href="@{/listedirecteurs}">Liste des directeurs de l'entreprise</a>
</p>
<!--<p>
    <a th:href="@{/agemoyen}">Age Moyen des Directeurs</a>
</p>
<p>
    <a th:href="@{/majeur}">Premier Directeur Majeur</a>
</p>-->
<a th:href="@{/voyages}">Voyages</a>
<a th:href="@{/reservation}">Réservation</a>
</body>
</html>